*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav h1{
    text-align: center;
    font-family: cursive;
    font-size: 35px;
    color: bisque;
    line-height: 80px;
}
section{
    min-height: 140vh;
    background-image:linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)),url('/images/artist5.jpg');
    background-size: cover;
}
nav ul{
    text-align: center;
    line-height: 80px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 50px;
}
nav ul li a{
    color: azure;
    text-decoration: none;
    font-size: medium;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;    
    padding: 7px 8px;
}
nav ul li .active{
    background-color: #081b31;   
}
nav ul li a:hover{
    background-color: #081b31;
    transition: 0.7 ease;   
}
.Collection{
    margin-left: 10px;
    float: left;
    width: 150px;
}
.Collection h1{
    margin-right: 88px;
    line-height: 60px;
    color: beige;
    padding-top: 25px;
    padding-bottom: 15px;
    display: inline;
}
.Collection ul{
    color: beige; 
    padding-bottom: 30px;  
}
.Collection ul li a{
    color: beige;
    line-height: 28px;
    text-decoration: none;
    
}
.Collection p{
    margin-right: 168px;
    color: beige;
    line-height: 50px;
    text-decoration: none;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline;
}
hr{
    line-height: 80px;
    width: 220px;
}
.Paintings{
    height: 350px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px; 
}
.Paintings:hover{
    cursor: pointer;
    background-color: #081b31;
    transform-origin: center;
}
img{
    height: 280px;
    width: 250px;
    object-fit: cover;
    border-radius: 4px; 
}

.Painting{
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    display: flex;
    float: right;
    padding: 8px 160px;
}
figcaption{
    text-align: center;
    color: wheat;
}
